layout {

    focus-ring {
        active-color   "#afc7f9"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#afc7f9"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#afc7f9"
        inactive-color "#2f4771"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#afc7f980"
    }
}

recent-windows {
    highlight {
        active-color "#afc7f9"
        urgent-color "#ffb4ab"
    }
}
