@import url("/home/swavlabs/.config/waybar/colors.css");

/* =========================
   GLOBAL
   ========================= */

* {
  border: none;
  font-family: FiraCode Nerd Font;
  font-weight: 700;
  font-size: 14px;
  min-height: 0;
}

/* =========================
   BAR BASE
   ========================= */

window#waybar {
  background: transparent;
}

#waybar {
  margin: 6px 8px;
}

/* =========================
   UNIFIED MODULE STYLE
   ========================= */

#workspaces,
#tags,
#window,
#taskbar,
#mpris,
#tray,
#network,
#pulseaudio,
#custom-updates,
#clock,
#custom-notification,
#custom-power {
  background: alpha(@surface, 0.80);
  color: @foreground;

  border: 2px solid alpha(@primary, 0.55);

  padding: 4px 10px;
  margin: 4px 4px;

  border-radius: 0px;
}

/* =========================
   UNIFIED MODULE STYLE
   ========================= */

#window,
#mpris,
#tray,
#network,
#pulseaudio,
#custom-updates,
#clock,
#custom-notification,
#custom-power {
  background: alpha(@surface, 0.80);
  color: @foreground;

  border: 2px solid alpha(@primary, 0.55);

  padding: 4px 10px;
  margin: 4px 4px;

  border-radius: 0px;
}

/* =========================
   LEFT CLUSTER
   WORKSPACES + TASKBAR
   ========================= */

#workspaces {
  background: alpha(@surface, 0.80);
  color: @foreground;

  border: 2px solid alpha(@primary, 0.55);
  border-right: 0;

  padding: 4px 6px;

  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 0px;

  border-radius: 0;
}

#taskbar {
  background: alpha(@surface, 0.80);
  color: @foreground;

  border: 2px solid alpha(@primary, 0.55);
  border-left: 0;

  padding: 4px 10px;

  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 4px;

  border-radius: 0;
}
/* =========================
   MPRIS
   ========================= */

#mpris {
  opacity: 0.95;
}

/* =========================
   RIGHT SIDE CLUSTER
   ========================= */

#clock,
#custom-notification,
#custom-power {
  margin: 4px 0px;
  padding: 4px 10px;
}

/* notification cleanup */
#custom-notification {
  border-left: 0px;
  border-right: 0px;
}

/* tray spacing */
#tray {
  padding: 4px 8px;
}

/* =========================
   HOVER (UNIFIED)
   ========================= */

#workspaces:hover,
#tags:hover,
#window:hover,
#mpris:hover,
#tray:hover,
#network:hover,
#pulseaudio:hover,
#clock:hover,
#custom-notification:hover,
#custom-power:hover {
  background: alpha(@primary, 0.22);
}
