
/* ==========================
MATUGEN SUPPORT
========================== */

/* Uncomment whichever Matugen file exists on your system */

/* @import url("file:///home/YOURUSER/.config/matugen/colors.css"); */
/* @import url("file:///home/YOURUSER/.cache/matugen/colors.css"); */

/* Fallback colors (your current Gruvbox-like theme) */

@define-color bg rgba(40, 40, 40, 0.76);
@define-color fg #ddca9e;
@define-color border #c9b890;
@define-color accent #d79921;
@define-color muted #928374;
@define-color urgent #ef5e5e;
@define-color critical #ce3d0d;
@define-color success #709d1c;
@define-color text-dark #282828;

* {
  border: none;
  font-family: Maple Mono NF CN;
  font-weight: 800;
  font-size: 18px;
  min-height: 0;
  }

window#waybar {
background: none;
margin: 0px;
padding: 0px;
}

tooltip {
background: @bg;
border-radius: 4px;
border-width: 2px;
border-style: solid;
border-color: @border;
color: @fg;
}

